@tailwind base;
@tailwind components;
@tailwind utilities;


.text{
  background : linear-gradient(90deg,
    #561d5e -10.15%,
    #873ec2 38.77%,
    #f89a1c 142.64%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
